@mixin basic($border-width) {
    width: $default-width;
    border-width: $border-width;
    border-style: $default-border;
    padding: $default-padding;
}
@mixin edge-color($edge-color) {
    background-color: map-get($background-color, $edge-color);
    border-color: map-get($default-color, $edge-color);
}

@mixin root($root) {
    font-family: $default-font;
    font-size: $root;
}

@mixin h1() {
    font-size: $h1-size;
}

@mixin h2() {
    font-size: $h2-size;
}

@mixin h3() {
    font-size: $h3-size;
}

@mixin h4() {
    font-size: $h4-size;
}

@mixin h5() {
    font-size: $h5-size;
}

@mixin h6() {
    font-size: $h6-size;
}

@mixin all-h($title-font) {
    margin-bottom: 0.5rem;
    font-family: $title-font;
    font-weight: $all-h-font-weight;
    line-height: $all-h-line-height;
    color: $black;
}

@mixin blockquote($left-color, $bg-color, $fontcolor) {
    font-size:$block-fontsize;
    color: $fontcolor;
    width: $default-width;
    font-family: $block-font;
    padding: $block-padding;
    border-left: $block-border-left $left-color;
    line-height: $block-line-height;
    position: $block-position;
    background: $bg-color;
}

@mixin blockquote-before($fontcolor) {
    font-family:$block-font;
    content: "\201C";
    color:$fontcolor;
    font-size: $block-fontsize-bf;
    position: $block-position-bf;
    left: $block-left-bf;
    top: $block-top-bf;
}